<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/stript.js"></script>

</head>

<body>


    <div class="innerArea">
        <div class="cont1">
            <label class="lblTel" for="telNum"><i class="fa-sharp fa-solid fa-phone"></i>+01234567890</label>

            <label class="discRight" for="disc">Get 50% Off on Selected items</label>
        </div>
        <label for="" class="Mid">|</label>
        <div class="cont2">

            <label class="shopNow" for="shopNow"><a href="#">Shop Now</a></label>
            <div class="rightSell">
                <label class="sellOn" for="sellOn">Sell On Remise</label>
                <label class="location" for="location">Location<i class="fa-solid fa-caret-down"></i></label>

            </div>
        </div>

    </div>

    <!---- New Section starts here-->



    <div class=" innerArea2">
        <div class="logo">
            <img src="remise.png" alt="logo here" class="logoImg">
        </div>
        <div class="searchBar">
            <div class="row">
                <div class="col-xl-6 col-lg-8 col-md-8 col-sm-12  ">

                    <form class="example">
                        <div class="row">
                            <div class="col-12 col-sm-6">


                                <input type="text" placeholder="Search Product.." name="search">
                            </div>

                            <div class="col-12 col-sm-4 getStartedBTN">

                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle categoryy" type="button"
                                        data-toggle="dropdown">All Categories
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">HTML</a></li>
                                        <li><a href="#">CSS</a></li>
                                        <li><a href="#">JavaScript</a></li>
                                    </ul>
                                </div>

                            </div>


                            <div class="col-12 col-sm-2 getStartedBTN">


                                <button type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>

                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>

        <div class="rightCart">
            <a class="account" href="#">
                <i class="fa-regular fa-circle-user icon11"></i>Account
            </a>
            <a class="account" href="#">
                <i class="fa-solid fa-cart-shopping icon11"></i>Cart
            </a>
        </div>
    </div>


    <!---- New Section starts here-->


    <div class="container-fluid my-3 pb-5 innerArea_new register">
        <div class="col-12 logo text-center">
            <img src="remise_logo.png" alt="logo here" class=" logoImg1" width="10%">
            <div class="col-12 text_area1">
                <h2 class="top-text">Welcome To Remise</h2>
                <span class="span_text"> <small> Register to create your first account and start selling</small></span>    
            </div>
            

        </div>
        <br>

        <div class="Ship-Ser-form"">
            <form>
                <div class="form-group ship-form">
                    <label for="formGroupExampleInput">Card Name</label>
                    <input type="text" class="form-control ship-control" id="formGroupExampleInput" placeholder="Eg. Fanidi Gion">
                </div>

                <div class="input-group form-group ship-form" id="show_hide_password">
                    <label for="formGroupExampleInput">Password</label>
                    <input class="form-control ship-control" type="password">
                    <div class="input-group-addon pass-icon">
                        <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                      </div>
                </div>

                <div class="input-group form-group ship-form" id="show_hide_password2">
                    <label for="formGroupExampleInput">Re-enter Password</label>
                    <input class="form-control ship-control" type="password">
                    <div class="input-group-addon pass-icon">
                        <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                      </div>
                </div>

                <h4 class="radio-title">Select the type of account</h4>
                <div class="radio-div">
                <div class="Ship-col left">
                    <label for="buyer">
                        <input type="radio" id="buyer" class="rad" name="fav_language" value="buyer">
                            <h3 class="compny-title">Register as Buyer</h3>
                    </label>
                </div>

                <div class="Ship-col right">
                    <label for="seller">
                        <input type="radio" id="seller" class="rad" name="fav_language" value="seller">
                            <h3 class="compny-title">Register as Seller</h3>
                    </label>
                </div>

            </div>

                <a class="btn ship-sub-btn" src="#">Register</a>
            </form>
            <p class="text-center pt-5 already-acc">Already have account? Login</p>


        </div>

    </div>

















    <!-- Footer -->

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h2 class="headingFoot">Join Our News Letter</h2>
                    <p class="textFoot">Norem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="col-6">
                    <form style="width: 100%; 
    border: 1px solid #97A3AE;
    border-radius: 10px;
    display: flex;
    flex-direction: row; ; font-family:poppins;
    padding:2px;
    height:65px" class="example" action="action_page.php">
                        <input style="padding: 10px;
        font-size: 17px;
        font-family:poppins;
        border: none;
        border-radius: 20px;
        float: left;
        width: 80%;
        background: transparent;
        " type="text" placeholder="Enter Your Email" name="search">
                        <button style="  float: left;
        width: 40%;
        font-family:poppins;
        padding: 12px 20px;
        background: red;
        color: white;
        font-size: 17px;
        border: 1px solid red;
        border-radius: 10px;
        margin: 2px;
        cursor: pointer;
        font-family: 'poppins';" type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
            <hr><br><br>
            <div class="row">
                <div class="col-3 logFooter">
                    <img class="footLogo" src="remiseFooter.png" alt="">
                    <br><br>
                    <p class="footText2">Torem ipsum dolor sit amet, consectetur ddda adipiscing elit. Etiam eu turpis
                        molestie, dictum est a,
                        mattis tellus. Sed dignissim, metus nec s fringilla accumsan, risus sem sollicitudin lacus, ut
                        interdum tellus elit.
                    </p>

                </div>
                <!-- <div class="col-1">

            </div> -->
                <br><br>

                <div class="col-9 footRight">
                    <div class="company comp4">
                        <h4 class="companyName">Company</h4>
                        <ul class="menuList">
                            <li class="menuItem">About Us</li>
                            <li class="menuItem">Careers</li>
                            <li class="menuItem">Contact Us</li>
                            <li class="menuItem">Help Center</li>
                            <li class="menuItem">Support</li>
                        </ul>

                    </div>

                    <div class="company comp3">
                        <h4 class="companyName">Socials</h4>
                        <ul class="menuList">
                            <li class="menuItem">Twitter</li>
                            <li class="menuItem">Facebook</li>
                            <li class="menuItem">Instagram</li>
                            <li class="menuItem">Linkdin</li>
                            <li class="menuItem">Pinterest</li>
                        </ul>

                    </div>


                    <div class="company comp2">
                        <h4 class="companyName">Legal</h4>
                        <ul class="menuList">
                            <li class="menuItem">Terms</li>
                            <li class="menuItem">Conditions</li>
                            <li class="menuItem">Privacy</li>
                            <li class="menuItem">Policy</li>
                        </ul>

                    </div>

                    <div class="company comp1">
                        <h4 class="companyName">Offices</h4>
                        <ul class="menuList">
                            <li class="menuItem">Branch Office: 85256 Jacobi Green,
                                East Jeffrystad, Tennessee, USA, 42553</li>
                            <li class="menuItem">Head Office: 999 Tyra Extension,
                                Haagmouth, Georgia, USA, 42553</li>

                        </ul>

                    </div>
                </div>


            </div>
            <br><br><br>

            <hr>

            <div class="row">
                <div class="col-6">
                    <p class="searchMarketing">© 2023. All Rights Reserved By Search Marketing Services</p>
                </div>
                <div class="col-6">
                    <i class="fab fa-pinterest iconSocial"></i>
                    <i class="fab fa-linkedin-in iconSocial"></i>
                    <i class="fab fa-twitter iconSocial"></i>
                    <i class="fab fa-instagram iconSocial"></i>
                    <i class="fab fa-facebook-f iconSocial"></i>


                </div>
            </div>
        </div>
    </div>

    <body>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    </body>

</html>